<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/Assets/Style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon", href="/Img/Logo sombrero rojo sin fondo.png">
    <title>The Pin Society</title>
</head>
<body>
    <div class="seguir">
        <div class="barra">
            <img src="/Img/Logo sombrero blanco sin fondo.png">
            <h2>The Pin Society</h2>
            <div class="encabezado">
                <a href="" target="_blank"><img src="/Img/shopping-cart.png" class="logos"></a>
                <img src="/Img/heart.png" class="logos">
                <img src="/Img/user.png" class="logos">
                <button class="busqueda" role="button">
                    <p>Filtrar producto</p>
                    <img src="/Img/magnifier.png">
                </button>
            </div>
        </div>
        <div class="panel">
            <button class="botonespanel" role="button"><a href="/Views/Categorias admin.html" target="_blank">Categorias</a><img src="/Img/category.png"></button>
            <button class="botonespanel" role="button">Cuidados especiales <img src="/Img/sweeping.png"></button>
            <button class="botonespanel" role="button">Nuevos pines <img src="/Img/price-sticker.png"></button>
            <button class="botonespanel" role="button">Personaliza tu pin <img src="/Img/setting-lines.png"></button>
            <button class="botonespanel" role="button">Chatea con nosotros <img src="/Img/bubble-chat.png"></button>
        </div>
    </div>
<!-- Contenido de la pagina aqui-->

    <div class="cuerpo">
    <br><br><br><br><br><br><br><br><br><br>
    <h1 class="titulo">Categorias</h1>
        <div class="categoriaadmin">
            <img src="/Img/Pines.jpeg">
            <h1>Pines</h1>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Ver Categoria</a></button>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Editar Categorias</a></button>
        </div>
        <div class="categoriaadmin">
            <img src="/Img/Anillos.jpeg"> 
            <h1>Anillos</h1>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Ver Categoria</a></button>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Editar Categorias</a></button>
        </div>
        <div class="categoriaadmin">
            <img src="/Img/Stickers.jpeg">
            <h1>Stickers</h1>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Ver Categoria</a></button>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Editar Categorias</a></button>
        </div>
        <div class="categoriaadmin">
            <img src="/Img/photo.png">
            <h1>Categoria 4</h1>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Ver Categoria</a></button>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Editar Categorias</a></button>
        </div>
        <div class="categoriaadmin">
            <img src="/Img/photo.png">
            <h1>Categoria 5</h1>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Ver Categoria</a></button>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Editar Categorias</a></button>
        </div>
        <div class="categoriaadmin">
            <img src="/Img/photo.png">
            <h1>Categoria 6 </h1>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Ver Categoria</a></button>
            <button class="botonescategoriasadmin" role="button"><a href="" target="_blank">Editar Categorias</a></button>
        </div>
        <a href="/Views/Añadir categoria admin.html"><button class="añadircategoria">
            <img src="/Img/add.png">
            <h1>Añadir</h1><h1>Categoria</h1>
        </button></a>
    </div>
<!-- Contenido de la pagina acaba aqui-->
        <div class="piedepagina">
            <div class="metodosdepago">
                <img src="/Img/instagram.png" class="ing">
                <h2><a href="https://www.instagram.com/thepinsociety_/" target="_blank">@thepinsociety_</a></h2>
                <img src="/Img/nequi.png" class="pago">
                <img src="/Img/bancolombia.png" class="pago">
                <img src="/Img/daviplata.png" class="pago">
            </div>
        </div>
</body>
</html>