<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/Assets/Style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon", href="/Img/Logo sombrero rojo sin fondo.png">
    <title>The Pin Society</title>
</head>
<body>
    <div class="seguir">
        <div class="barra">
            <img src="/Img/Logo sombrero blanco sin fondo.png">
            <h2>The Pin Society</h2>
            <div class="encabezado">
                <a href="" target="_blank"><img src="/Img/shopping-cart.png" class="logos"></a>
                <img src="/Img/heart.png" class="logos">
                <img src="/Img/user.png" class="logos">
                <div class="busqueda">
                    <input type="text">
                    <img src="/Img/magnifier.png">
                </div>
            </div>
        </div>
        <div class="panel">
            <button class="botonespanel" role="button"><a href="/Views/Categorias admin.html" target="_blank">Categorias</a><img src="/Img/category.png"></button>
            <button class="botonespanel" role="button">Cuidados especiales <img src="/Img/sweeping.png"></button>
            <button class="botonespanel" role="button">Nuevos pines <img src="/Img/price-sticker.png"></button>
            <button class="botonespanel" role="button">Personaliza tu pin <img src="/Img/setting-lines.png"></button>
            <button class="botonespanel" role="button">Chatea con nosotros <img src="/Img/bubble-chat.png"></button>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
<!-- Contenido de la pagina aqui-->
<button class= "modificar" id="centro"><a href="/Views/admin_camcontra.html">Cambiar contraseña </a></button><br>
<div class="centrar">
    <div class="modi_datadmin">
        <div class="categoriausuario">
            <img src="/Img/Admin_photo.jpeg">
            <h1>Admin Mariana Urrego </h1>
        </div>
        
        <div class="data_admin">
            <div class="formula_admin"> 
                <label for="user" >Nombre Empresa:</label>
                <input type="text" id ="register_user" value="The Pin Society" style="color:white">
                <br><br>
                <label for="user">Redes sociales : </label>
                <input type="text" id ="register_user" value="@ThepinSociety" style="color:white">
                <br><br>
                <label for="user">Ubicación: </label>
                <input type="text" id="register_user" value=" Casur Claustro " style="color:white">
                <br><br>
                <label for="user"> Detalles: </label>
                <input type="text" id="register_user" value="Universidad del Rosario" style="color:white">
                <br><br>
                <label for="user"> Correo: </label>
                <input type="email" id="register_user" value="thepinsociety@gmail.com" style="color:white">
                <br><br>
            </div> 
            <div id="formula">   
                <label for="user">Nombre Completo:</label>
                <input type="text" id ="register_user" value="Pepito Perez Gonzalez" style="color:white">
                <br><br>
                <label for="user"> Número de Telefono : </label>
                <input type="text" id ="register_user" value="310 234567" style="color:white">
                <br><br>
                <label for="user"> Dirección: </label>
                <input type="text" id="register_user" value=" Carrera 1 # 23-45 " style="color:white">
                <br><br>
                <label for="user"> Torre/Apto/Casa: </label>
                <input type="text" id="register_user" value="Torre 21 Apto 901" style="color:white">
                <br><br>
                <label for="user"> Correo: </label>
                <input type="email" id="register_user" value="pepitoperez@gmail.com" style="color:white">
            </div> 
        </div>
    </div>
</div>

<button class= "modificar" id="centro"><a href="/Views/mod_datos_admin_exitosa.html"> Guardar Cambios </a></button>


<!-- Contenido de la pagina acaba aqui-->
    <div class="piedepagina">
        <div class="metodosdepago">
            <img src="/Img/instagram.png" class="ing">
            <h2><a href="https://www.instagram.com/thepinsociety_/" target="_blank">@thepinsociety_</a></h2>
            <img src="/Img/nequi.png" class="pago">
            <img src="/Img/bancolombia.png" class="pago">
            <img src="/Img/daviplata.png" class="pago">
        </div>
    </div>
</body>
</html>