<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/Assets/Style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon", href="/Img/Logo sombrero rojo sin fondo.png">
    <title>The Pin Society</title>
</head>
<body>
    <div class="seguir">
        <div class="barra">
            <img src="/Img/Logo sombrero blanco sin fondo.png">
            <h2>The Pin Society</h2>
            <div class="encabezado">
                <a href=""><img src="/Img/shopping-cart.png" class="logos"></a>
                <a href=""><img src="/Img/heart.png" class="logos"></a>
                <a href=""><img src="/Img/user.png" class="logos"></a>
                <div class="busqueda">
                    <input type="text">
                    <img src="/Img/magnifier.png">
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="centrar">
                <a href="/Views/Categorias Invitado.html"><button class="botonespanel" role="button">Categorias<img src="/Img/category.png"></button></a>
                <button class="botonespanel" role="button">Cuidados especiales <img src="/Img/sweeping.png"></button>
                <button class="botonespanel" role="button">Nuevos pines <img src="/Img/price-sticker.png"></button>
                <button class="botonespanel" role="button">Personaliza tu pin <img src="/Img/setting-lines.png"></button>
                <button class="botonespanel" role="button">Chatea con nosotros <img src="/Img/bubble-chat.png"></button>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
<!-- Contenido de la pagina aqui-->
<div class="ventana">
    <div class="contenidoventanaproddesct1">  
        <div>
            <a href="../Inicio user.html"><button class="botongeneralinicio" role="button">Cerrar</button></a>
        </div>  
        <div>
            <div>
                <h1>Pin Patricio 1</h1>
                <div class="centrar">
                    <img src="/Img/Patricio1.jpeg">
                </div>
                <div class="centrar">
                    <a href=""><button class="botonañadircarroinicio" role="button">Añadir Al Carro<img src="/Img/add-to-cart.png"></button></a>
                </div>
            </div>
        </div>  
    </div>
</div>


    <div class="portada">
        <img src="/Img/listos para adornar.jpg">
        <div class="centrar">
            <div class="txtportada">
                <h1>¿Listo Para <br>Adornar tu <br> Mundo?</h1>
                <h2>Descubre nuestra coleccion <br>unica de accesorios</h2>
            </div>
        </div>
    </div>
    <div class="linea"></div>
    <h1 id="productosdestacados">Productos Destacados:</h1>
    <div class="imgproductosdestacados">
        <div class="centrar">
            <a href="/Views/Ver categoria user.html"><img src="/Img/Fantasma1.jpeg"></a>
            <a href="/Views/Ver categoria user.html"><img src="/Img/Fantasma2.jpeg"></a>
            <a href="/Views/Ver categoria user.html"><img src="/Img/Patricio1.jpeg"></a>
        </div>
    </div>
    <div class="linea"></div>
    <br><br><br>
    <div class="imgproductosdestacados">
        <div class="centrar">
            <a href=""><img src="/Img/Pines2.jpeg"></a>
            <a><img src="/Img/Anillos.jpeg"></a>
            <a><img src="/Img/Stickers.jpeg"></a>
        </div>
    </div>
    <div class="imgproductosdestacados">
        <div class="centrar">
            <h2>Pines</h2>
            <h2>Anillos</h2>
            <h2>Stickers</h2>
        </div>
    </div>

<!-- Contenido de la pagina acaba aqui-->
    <div class="piedepagina">
        <div class="metodosdepago">
            <img src="/Img/instagram.png" class="ing">
            <h2><a href="https://www.instagram.com/thepinsociety_/" target="_blank">@thepinsociety_</a></h2>
            <img src="/Img/nequi.png" class="pago">
            <img src="/Img/bancolombia.png" class="pago">
            <img src="/Img/daviplata.png" class="pago">
        </div>
    </div>
</body>
</html>