<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/Assets/Style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon", href="/Img/Logo sombrero rojo sin fondo.png">
    <title>The Pin Society</title>
</head>
<body>
    <div class="seguir">
        <div class="barra">
            <img src="/Img/Logo sombrero blanco sin fondo.png">
            <h2>The Pin Society</h2>
            <div class="encabezado">
                <a href="" target="_blank"><img src="/Img/shopping-cart.png" class="logos"></a>
                <img src="/Img/heart.png" class="logos">
                <img src="/Img/user.png" class="logos">
                <div class="busqueda">
                    <input type="text">
                    <img src="/Img/magnifier.png">
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="centrar">
                <button class="botonespanel" role="button"><a href="/Views/Categorias admin.html" target="_blank">Categorias</a><img src="/Img/category.png"></button>
                <button class="botonespanel" role="button">Cuidados especiales <img src="/Img/sweeping.png"></button>
                <button class="botonespanel" role="button">Nuevos pines <img src="/Img/price-sticker.png"></button>
                <button class="botonespanel" role="button">Personaliza tu pin <img src="/Img/setting-lines.png"></button>
                <button class="botonespanel" role="button">Chatea con nosotros <img src="/Img/bubble-chat.png"></button>
            </div>    
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
<!-- Contenido de la pagina aqui-->
<div class = "ventana_exito">
    <div class="contenidoventana_exito">
        <div class = "aviso">
            <h5>Correo enviado </h5> 
            <h1> EXITOSAMENTE</h1>       
        </div>
    <div class="centrar">
        <button class="botongeneral" role="button"><a href="../Views/registro.html">Confirmar</a></button>    
        </div>
    </div>
</div>

    <div id="titulo_ini">
        <h1> ¡Parece que no has iniciado sesión aún!</h1>
    </div>
    <div class = "centrar">
        <div class="iniciar_sesion">
            <div class ="titulo_iniciar" >
                <h1> Iniciar Sesión </h1>
            </div>
                <div class = "usuarios">
                    <div id="centrar_usuarios">   
                        <label for="user">Nombre de usuario:</label><br>
                        <input type="text" id ="nombre_user" name="nombre">
                        <br><br>
                        <label for="user">Contraseña:</label><br>
                        <input type="password" id ="nombre_user" name="clave">
                        <br><br>
                        <input type="checkbox" id="recordar" name="srecordar">
                        <label for="user"> Recordarme </label>
                        <br><br>
                        <button class= "acceder"><a href="/Inicio.html">Acceder</a></button><br>
                        <h4 id="center"> ¿Haz olvidado tu Contraseña?</h4><br>
                    </div> 
                </div>    
        </div>
        <div class="registro_init">
            <div class ="titulo_iniciar" >
                <h1> Registrarse </h1>
            </div>
                <div class = "registro">
                    <div id="centrar_usuarios">   
                        <label for="user">Correo electronico:</label><br>
                        <input type="text" id ="nombre_user" name="correo">
                        <br><br>
                        <div id="letra_diferente">
                            <label for="user">Un link será enviado a su correo electronico</label><br><br><br>
                        </div>
                        <button class= "correo"><a href="/Inicio.html">Enviar Correo </a></button><br>
                    </div> 
                </div>  
            </div>  
        </div>
        
    </div>
<!-- Contenido de la pagina acaba aqui-->
    <div class="piedepagina">
        <div class="metodosdepago">
            <img src="/Img/instagram.png" class="ing">
            <h2><a href="https://www.instagram.com/thepinsociety_/" target="_blank">@thepinsociety_</a></h2>
            <img src="/Img/nequi.png" class="pago">
            <img src="/Img/bancolombia.png" class="pago">
            <img src="/Img/daviplata.png" class="pago">
        </div>
    </div>
</body>
</html>